.container-app{
    width: 100%;
    max-width: 517px;

    box-sizing: border-box;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;

    color: gray;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
